---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <br>

  <div>
    <ul class="tags post-tags cf">
      <li>Tagged:</li>
      {% for tag in page.tags %}
      <li><a href="/search/?tags={{ tag }}">{{ tag | downcase }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <br>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
 
  <script src="https://utteranc.es/client.js"
        repo="[ENTER REPO HERE]"
        issue-term="pathname"
        label="my-id/repo"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
  
</article>

<!-- responsive video js -->
<script src="/js/fluidvids.js"></script>
